---
import Base from "../../layouts/Base.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  });

  const tagMap = new Map<string, typeof posts>();
  for (const post of posts) {
    for (const tag of post.data.tags ?? []) {
      if (!tagMap.has(tag)) {
        tagMap.set(tag, []);
      }
      tagMap.get(tag)!.push(post);
    }
  }

  return [...tagMap.entries()].map(([tag, posts]) => ({
    params: { tag },
    props: {
      posts: posts.sort(
        (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
      ),
    },
  }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Base title={`Tag: ${tag}`}>
  <div data-pagefind-ignore>
    <h1>Tag: {tag}</h1>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/p/${post.id}/`}>{post.data.title}</a>
            <time datetime={post.data.date.toISOString()}>
              {post.data.date.toISOString().slice(0, 10)}
            </time>
          </li>
        ))
      }
    </ul>
  </div>
</Base>
